{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}

{% if selector %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-sm-10 col-lg-6 col-xl-5">
            <div class="login-box p-4 border rounded shadow-sm">
                <h2 class="mb-4 text-center">Reset Password</h2>

                <!-- Reset Password form -->
                <form method="POST" action="{{ url_for('auth.reset_password') }}" novalidate id="resetForm">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="selector" value="{{ selector }}">
                    <input type="hidden" name="token" value="{{ token }}">
                    <div class="mb-3">
                        {{ form.password.label(class="form-label") }}
                        <div class="position-relative">
                            {{ form.password(class="form-control", id="password") }}
                            <span class="input-icon-right" id="togglePassword">
                                <i class="fas fa-eye" id="toggleIcon"></i>
                            </span>
                        </div>

                        <div id="password-error-container"></div>

                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form.confirm_password.label(class="form-label") }}
                        <div class="input-group">
                            {{ form.confirm_password(class="form-control", id="confirm_password") }}
                        </div>

                        <div id="confirm-password-error-container"></div>

                        {% if form.confirm_password.errors %}
                            {% for error in form.confirm_password.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="d-grid gap-2">
                        {{ form.submit(class="btn btn-primary w-100 mb-3") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block page_scripts %}

    <script src="/static/js/reset_password.js"></script>

{% endblock %}